*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*These are styles for the navigation*/


body{
    background-image: url("image.img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-color: blue;
    display:flex;
    justify-content: space-around;
    height: 8vh;
}
.nav-links{
    list-style: none;
    display: flex;
}nav h1{
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 8px;
    line-height: 8vh;

}
.nav-links a{
    line-height: 7vh;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-links a:hover{
    text-decoration: underline;
}
.menu-btn{
    display: none;
}
.menu-btn div{
    height: 3px;
    width: 20px;
    background-color: white;
    margin: 3px;
}

@media(max-width:600px){

    body{
        overflow-x: hidden;
    }
    .nav-links {
        display:flex;
        flex-direction: column;
        position:absolute;
        right:0;
        top: 8vh;
        background-color: blue;
        width: 60%;
        height: 92vh;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 1s ease-in;
    }   
        
        .nav-links li{
    padding: 5px 10px;
    margin: 10px 5px;
}
.menu-btn{
    display: block ;
    cursor: pointer;
}
}
.nav-active{
    transform: translateX(0%);
}

.red{
    background-color: red;
    font-size: 72px;
}

.intro{
    text-align: center;
}
.intro img{
    width: 300px;
    height: 300px;
    border-radius: 50% ;
}

.intro{
    letter-spacing: 4px;
    font-size: 20px;
}
.intro h3{
    font-style: italic;
    color: white;
}
.intro h1{
    color: white;
}
.profile{
    margin-top: 20pc;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid white;
}
.profile img{
    width: 100%;
    border-radius: 10px;
}
.profile-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    background-color: rgba(0,0,0,0.5)
}
.profile-info p{
    font-size: 25px;
    color: white;
}
@media(max-width:720px){
    .profile{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .profile p{
        padding: 10px;
    }
}